.site-wrapper.cakes-page {
  .cakes-list {
    margin-bottom: 1rem;

    .list-image {
      margin-bottom: 1rem;
    }

    .cakes-cake {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .cake-name {
        margin: 0.5rem 0;
      }
      .cake-price {
        margin-bottom: 0.5rem;
        font-size: 0.8em;
        text-align: right;

        p {
          margin: 0;
        }
      }
      .cake-description {
        font-size: 0.9em;
        flex-grow: 1;
        margin-bottom: 0.5rem;

        p {
          margin: 0;
        }
        ul {
          list-style-type: circle;
          padding-inline-start: 1rem;
          margin-bottom: 0;
        }
      }
    }
  }
}

li.react-datepicker__time-list-item--disabled {
  display: none;
}
