.btn-rar {
  background-color: $color-primary-light;
  color: $color-background-light;
  width: 100%;

  &:hover {
    opacity: 0.5;
    transition: opacity 0.15s ease-out;
    color: $color-background-light;
  }
}
