$hamburger-layer-width: 20px;
$hamburger-layer-height: 1px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: $color-primary-light;
$hamburger-layer-border-radius: 0;
$hamburger-types: (collapse);