.nav-burger {
  display: none;
  position: absolute;
  left: 0;
  z-index: 9999;
  opacity: 1 !important;
}

.nav {
  margin-bottom: 1.5em;

  a {
    // line-height: 48px;

    &.active,
    &:hover {
      font-weight: $font-weight-bold;
      border-bottom: 1px solid $color-primary-light;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .nav-burger {
    display: block;
  }

  .site-head-open {
    .nav {
      max-height: 100vh;
      opacity: 1;
      margin-bottom: 5em;
    }
  }

  .nav {
    max-height: 0;
    opacity: 0;
    margin-bottom: 0;
    transition: opacity 0.25s ease-out, max-height 0.5s ease-out,
      margin-bottom 0.5s ease-out;

    .nav-item {
      width: 100%;
      flex: none;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
