.opening-hours-details {
  span {
    &.shop-badge {
      padding: 8px 12px;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-size: 0.9em;
      font-weight: $font-weight-normal;
    }

    &.shop-open {
      background: $color-matcha;
    }

    &.shop-close {
      background: $color-shop-close;
    }

    &.shop-open-soon,
    &.shop-last-order {
      background: $color-shop-soon;
    }
  }

  p {
    margin-top: 0.8rem;
  }
}
