.site-wrapper {
  &:not(.index) {
    .nav {
      position: sticky;
      top: 1.5vw;
    }
  }

  &.cake-hightea .nav .sub-nav.cake-hightea,
  &.matcha .nav .sub-nav.matcha,
  &.our-story .nav .sub-nav.our-story,
  &.shop-info .nav .sub-nav.shop-info {
    display: block;
  }
}

.nav {
  .nav-item {
    margin: 0.2rem 0;

    figure {
      margin: 0;

      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }

    &.opening-hours {
      padding-top: 25px;

      figure {
        float: left;
      }

      .opening-hours-details {
        padding-top: 5px;
        padding-left: 40px;

        p {
          font-size: 0.85rem;
        }
      }
    }
  }

  a {
    border: none;

    &:hover,
    &:active,
    &.active {
      font-weight: $font-weight-bold;
      border: none;
    }
  }

  .sub-nav {
    font-size: 0.9em;
    margin-top: -5px;
    padding-inline-start: 28px;
    display: none;

    .nav-item {
      margin: 0.5em 0;

      &::before {
        content: "> ";
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .nav:not(.sub-nav) {
    left: calc(-100vw - 30px);
    position: absolute !important;
    width: calc(100% + 6vw);
    height: calc(100vh - 182px);
    padding: 0 6vw;
    transition: left 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    overflow: auto;
    z-index: 8888;
    background-color: white;

    .nav-item {
      &.opening-hours {
        display: none;
      }
    }

    .sub-nav {
      display: block;

      &:not(.cake-hightea) {
        display: none;
      }
    }
  }

  .content {
    opacity: 1;
    transition: opacity 0.45s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }

  .site-wrapper.site-head-open {
    .nav {
      left: calc(15px - 6vw);
    }

    .content {
      opacity: 0;
    }
  }
}
