/* Colours */

$color-primary-light: #231f20;
$color-background-light: white;
$color-matcha: #50af13;
$color-shop-close: #e25a5a;
$color-shop-soon: #f2cc24;

/* Fonts */

$font-sans-serif: fot-tsukuardgothic-std, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

/* Breakpoints */

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
