/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --color-highlight: #ffcd00;
    --color-primary-light: 35, 31, 32;
    --color-bg-light: 255, 255, 255;
    --color-matcha: 80, 175, 19;
    --color-shop-close: 226, 90, 90;
    --color-shop-soon: 242, 204, 36;

    /* Fonts */
    --font-sans-serif: 'Quicksand', sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-heavy: 700;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;
}
