node_modules

/.wrangler
/.cache
/functions/_assets
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.js.json
/functions/metafile.server.json
/functions/version.txt
/public/build
.env
.mf
/app/styles

# yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
