.site-wrapper.bag {
  .react-datepicker-wrapper {
    display: block;
  }
  .bag-item {
    margin-bottom: 1rem;

    .item-details {
      font-size: 0.8rem;

      p {
        margin: 0;
      }
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
    }
  }
  .cancellation {
    margin-bottom: 0.5rem;
  }
}
