.site-wrapper.cakes-list {
  .one-thing {
    display: flex;
    flex-direction: column;

    .price {
      font-size: 0.9em;
      top: -1px;
    }

    .description {
      font-size: 0.9em;
      flex-grow: 1;

      p {
        margin: 0;
      }

      ul {
        list-style-type: circle;
        padding-inline-start: 1rem;
        margin-bottom: 0;
      }
    }

    form {
      border: none;
    }
  }
}

li.react-datepicker__time-list-item--disabled {
  display: none;
}
