.homepage {
  .announcement {
    p {
      font-size: 0.9em;
    }
  }

  .store-info {
    img {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 6px;
    }

    p {
      font-size: 1em;
    }
  }

  .instagram {
    img {
      width: 100%;
    }
  }
}
