.fullmoon-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

@media (max-width: $breakpoint-medium) {
  .fullmoon-images {
    display: block;
  }
}

.fullmoon-image {
  width: 50%;
}

@media (max-width: $breakpoint-medium) {
  .fullmoon-images {
    width: auto;
  }
}
