.workshop-event {
  .date-desktop {
    font-size: 1.15em;
    padding-top: 0.35em;

    span {
      display: block;
    }
  }

  .date-mobile {
    display: none;
  }

  .excerpt {
    border-top: 1px $color-primary-light dashed;
    padding-top: 1em;
    margin-top: 1em;
  }
}

@media (max-width: $breakpoint-medium) {
  .workshop-event {
    .date-desktop {
      display: none;
    }

    .date-mobile {
      display: block;
    }
  }
}