/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import "vars.css";
@import "hamburger.css";
@import "animations.css";
@import "bootstrap.css";


/* Main - Theme styles
/* ---------------------------------------------------------- */

body {
    font-family: var(--font-sans-serif);
    font-weight: var(--font-normal);
    color: rgb(var(--color-primary-light));
    transition: background 0.3s ease-out;
    transition-delay: 0.25;
    background: rgb(var(--color-bg-light));
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: var(--font-normal);
}

@media (max-width: 768px) {
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.2rem;
    }
}

a {
    color: rgb(var(--color-primary-light));
    border-bottom: 1px dashed rgb(var(--color-primary-light));
}

.carousel a {
    border: none;
}

b {
    font-weight: var(--font-bold);
}

a:hover,
a:active {
    text-decoration: none;
    color: rgb(var(--color-primary-light));
    border-bottom: 1px solid rgb(var(--color-primary-light));
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

button {
    -webkit-appearance: none;
    border: none;
    background: none;
}

.site-wrapper {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .site-wrapper {
        padding: 0 6vw;
    }
}

.site-wrapper > header,
.site-wrapper > main,
.site-wrapper > footer {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-out,
        visibility 250ms ease-out;
}


.wf-active .site-wrapper > header,
.wf-active .site-wrapper > main,
.wf-active .site-wrapper > footer {
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms ease-out,
        visibility 500ms ease-out;
}

.opening-hours-details span.shop-badge {
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: var(--font-normal);
}

.opening-hours-details span.shop-open {
    background: rgb(var(--color-matcha))
}

.opening-hours-details span.shop-close {
    background: rgb(var(--color-shop-close))
}

.opening-hours-details span.shop-open-soon,
.opening-hours-details span.shop-last-order {
    background: rgb(var(--color-shop-soon))
}

.opening-hours-details p {
    margin-top: .8em;
}

/* Components - Header
/* ---------------------------------------------------------- */

.header-left .opening-hours-details {
    display: none;
}

.header-center {
    margin-top: 110px;
}

.header-center p {
    margin: 0;
    line-height: 1.3em;
}

.header-center p b {
    color: rgb(var(--color-matcha))
}

@media (max-width: 768px) {
    .header-left {
        max-width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-left .opening-hours-details {
        display: block;
        text-align: center;
        margin-top: -.5rem;
        margin-bottom: 1rem;
    }

    .header-center{
        display: none;
    }
}

/* Components - Footer
/* ---------------------------------------------------------- */

.footer {
    color: rgb(var(--color-primary-light));
    border-top: 1px dashed rgb(var(--color-primary-light));
}

.footer a {
    color: rgb(var(--color-primary-light));
    border: none;
}

/* Components - Sidebar
/* ---------------------------------------------------------- */

.sidebar {
    background: white;
    z-index: 8888;
}

.sidebar > ul {
    list-style: none;
    padding-left: 10px;
}

.site-wrapper:not(.index) .sidebar {
    position: sticky;
    top: 1.5vw;
}

.sidebar li {
    padding: 5px 0;
}

.sidebar img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.sidebar a {
    color: rgb(var(--color-primary-light));
    border: none;
}

.sidebar a:hover,
.sidebar a:active,
.sidebar a.active {
    font-weight: var(--font-bold);
}

.sidebar .sub-nav {
    font-size: 0.9em;
    padding-inline-start: 40px;
    display: none;
}

.site-wrapper.cake-hightea .sidebar .sub-nav.cake-hightea,
.site-wrapper.matcha .sidebar .sub-nav.matcha,
.site-wrapper.our-story .sidebar .sub-nav.our-story,
.site-wrapper.shop-info .sidebar .sub-nav.shop-info {
    display: block;
}

@media (max-width: 768px) {
    .sidebar .sub-nav.cake-hightea {
        display: block;
    }

    .sidebar .sub-nav.matcha,
    .sidebar .sub-nav.our-story,
    .sidebar .sub-nav.shop-info {
        display: none!important;
    }
}

.sidebar .opening-hours {
    padding-top: 25px;
}

.sidebar .opening-hours img {
    float: left;
}

.sidebar .opening-hours .opening-hours-details {
    padding-left: 40px;
}

.sidebar .opening-hours .opening-hours-details p {
    font-size: .85em;
}

@media (max-width: 768px) {
    .sidebar {
        left: calc(-100vw - 15px);
        position: absolute!important;
        width: calc(100% + 6vw);
        height: calc(100vh - 182px);
        padding: 0 6vw;
        transition: left 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        overflow: auto;
    }

    .site-wrapper.site-head-open .sidebar {
        left: calc(15px - 6vw);
    }

    .sidebar li.opening-hours {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-content {
        opacity: 1;
        transition: opacity 0.45s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }

    .site-wrapper.site-head-open .main-content {
        opacity: 0;
    }
}

/* Components - Form
/* ---------------------------------------------------------- */

form {
    border-top: 1px dashed rgb(var(--color-primary-light));
    padding-top: 1rem;
    border-bottom: 1px dashed rgb(var(--color-primary-light));
    padding-bottom: 1rem;
}

/* Page - Index
/* ---------------------------------------------------------- */

.site-wrapper.index .store-info img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 6px;
}

.site-wrapper.index .store-info p {
    font-size: 1em;
}

.site-wrapper.index .instagram img {
    width: 100%;
}

/* Page - All pages except index
/* ---------------------------------------------------------- */

.site-main .sub-heading {
    background: rgb(var(--color-bg-light));
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Page - Cake & Hightea
/* ---------------------------------------------------------- */

.cake-hightea .price {
    font-size: .9em;
    top: -1px;
}

.cake-hightea .description {
    font-size: .9em;
}

/* Page - Workshop & Event
/* ---------------------------------------------------------- */

.workshop-event .date-desktop {
    font-size: 1.15em;
    padding-top: .35em;
}

.workshop-event .excerpt {
    border-top: 1px rgb(var(--color-primary-light)) dashed;
    padding-top: 1em;
    margin-top: 1em;
}

.date-mobile {
    display: none;
}

@media (max-width: 768px) {
    .date-desktop {
        display: none;
    }

    .date-mobile {
        display: block;
    }
}

/* Page - Shop Info
/* ---------------------------------------------------------- */

.shop-info img.contact-icon {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 6px;
}

.shop-info .accordion .card-title:before {
    content: "> ";
}

.shop-info .accordion .card-title {
    font-size: 1em;
    cursor: pointer;
}

/* Mobile Nav Menu
/* ---------------------------------------------------------- */

.nav-burger {
    display: none;
    position: absolute;
    left: 0;
    z-index: 9999;
    padding: 6vw;
}

@media (max-width: 768px) {
    .nav-burger {
        display: block;
    }

    .site-head-open {
        background: rgb(var(--color-bg-light));
        transition: background 0.5s ease-out;
        transition-delay: 0.25;
        overflow: hidden;
        height: 100vh;
    }
}
